    .wrapper {
        display: grid;
        grid-template-columns: 2fr 9fr;
        height: 100%;
    }

    .gridSubject {
        height: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
    }

    .delIcon {
        height: 100%;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 25px;
        transition: display 0.3s;
    }

    .nonHide {
        display: inline-block;
    }

    .delIconWrapper {
        margin-top: 15%;

    }

    .delete {
        padding: auto;
        height: 100%;
    }



    .sidebar {
        background: #2c3f59;
    }

    #subjects {
        font-size: 30px;
        list-style-type: none;
        color: #f7f7f7;
        width: 100%;
        font-weight: 300;
        margin-top: 10px;
        text-align: left;
    }

    .subject {
        padding-left: 5%;
        transition: background 0.3s;
        border: none;
        background: #2c3f59;
        text-align: left;
        color: #fff;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 25px;
    }


    [class^="icon-"],
    [class*=" icon-"] {
        display: inline-block;
        width: 100%;
    }

    .fa-trash {
        margin: auto;
    }

    .iconStyling {
        text-align: center;
        margin: auto;
    }


    .favorite {
        background: #faff75;
    }

    .iconStyling {
        margin: 3px;
    }

    .taskDelIcon {
        height: 100%;
        color: white;
        text-align: center;
        font-size: 25px;
        background: #2c3f59;
        transition: background 0.3s;
    }


    .taskDelIcon:hover {
        background: #48668e;

    }

    .taskText {
        padding-left: 10px;
        padding-top: 10px;
        font-size: 17px;
    }

    .create {
        width: 100%;
        padding-left: 5%;
        transition: background 0.3s;
        border: none;
        background: #2c3f59;
        text-align: left;
        color: #fff;
        font-weight: 300;
    }

    .createForm {
        margin-top: 15px;
    }

    .create:hover {
        color: #fff;
        background: #2c3f59;
    }

    .subject:hover {
        color: #fff;
        background: #2c3f59;
    }

    .editTaskInput {
        margin: 10px 0px 15px 0px;
        padding: 10px 0px 10px 10px;
    }

    /*.subject:focus {*/

    /*    outline: none;*/

    /*}*/

    .hide {
        display: none;
        height: 0%;
        transition: display height 0.3s;
    }

    .task {
        width: 100%;
        min-height: 50px;
        height: auto;
        /*overflow: hidden;*/
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        margin-top: 10px;
        background: #eee;
        display: grid;
        grid-template-columns: 9fr 1fr;
        transition: background 0.3s;
    }

    div.task:hover {
        background: #b5dcff;
    }

    .addTask {
        width: 100%;
        height: 60px;
        border-top: 1px solid #888;
        border-bottom: 1px solid #888;
        margin-top: 18px;
        background: #fff;
    }

    .task:nth-child(odd) {
        background: #ddd;
    }

    .show {
        animation-name: fadeInShow;
    }

    .selected {
        background: #93add8;
    }

    .addNewSubject {
        width: 70%;
        margin-top: 10px;
    }

    .subject:hover {
        background: #93add8;
    }

    li {
        margin-top: 5px;
    }

    #create {
        margin-top: 20px;
        font-size: 15px;
    }

    body,
    html {
        height: 100%;
    }
    