.callToAction {
   height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  color: #262626;
}

.navbar {
 background: #2d2f3d !important;
 padding-bottom: 10px !important;
 
}

.navbar .navbar-nav li a {
  color: #ddd !important;
  transition: all 0.3s;
}

.navbar .navbar-nav li a:hover {
  color: white !important;  
}

.titleText {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.regForm {
    display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pushDown {
    margin-top: 12%;
}



